
.col-md-7.col-md-offset-0
  %h2 Recent Questions
  - cache "recent questions" do
    - @recent_questions.each do |question|
      = cache ["recent", question] do
        .droppy.well.col-md-12.questions{:id =>"recent_#{dom_id(question)}"}
          %h2= link_to question.title, question_path(question)
          %p= question.description
          %p
            Created On: #{formatted_date(question.created_at)}

.col-md-5.col-md-offset-0
  %br
  %h4 Scroll to View All Questions
  .fadein 
    - @questions.each do |question|
      = cache question do
        .droppy.well.col-md-6.questions{:class => dom_id(question)}
          %h2= link_to question.title, question_path(question)
          %p= question.description
          %p
            Created On: #{formatted_date(question.created_at)}