<h1> Individual Questions Show Page </h1>
<p> get "/questions/:id" => "questions#show" created through resources :questions in the routes file </p>

<h1> <%= @question.title %></h1>
<p> <%= @question.description %>
<p> Posted on: <%= formatted_date(@question.created_at) %>
<br>
<% if session[:has_voted] %>
  <p> Thanks for voting, friend </p>
 <%  else %> 
    <%= link_to "Vote up", vote_up_question_path(@question), method: :post %>
 |  <%= link_to "Vote down", vote_down_question_path(@question), method: :post %>
   <! # is the same as button_to "Vote down", vote_down_question_path(@question) >
<% end %> 
<p> Vote Count: <%= @question.vote_count %>
<p><%= link_to "Edit", edit_question_path(@question) %> |
   <%= link_to "Delete", @question, method: :delete, data: {confirm: "U sure"} %>
<p><%= link_to "Index", questions_path %>

