%h1 Individual Questions Show Page
%p get "/questions/:id" => "questions#show" created through resources :questions in the routes file
%h1
  = @question.title
%p
  = @question.description
%p
  Posted on: #{formatted_date(@question.created_at)}
  = succeed "Vote" do
    %br/
  Count: #{@question.vote_count}
  %br
  -if @question.categories.present?
    Categories (#{ @question.categories.count }):
    = @question.categories.map(&:title).join(", ")
  %br/
  -# if session[:has_voted]
  -# %p Thanks for voting, friend
  -# else
  -#  = link_to "Vote up", vote_up_question_path(@question), method: :post
  -#  |  #{link_to "Vote down", vote_down_question_path(@question), method: :post}
  -if @vote.persisted?
    =button_to "Undo Vote", [@question, @vote], method: :delete, class: "btn btn-danger"
  -else
    =form_for [@question, @vote] do |f|
      =f.hidden_field :is_up, value: true
      =f.submit "Vote Up", class: "btn btn-default"
    =form_for [@question, @vote] do |f| 
      =f.hidden_field :is_up, value: false
      =f.submit "Vote Down", class: "btn btn-default"
%p
  = link_to "Edit", edit_question_path(@question)
  |
  \#{link_to "Delete", @question, method: :delete, data: {confirm: "U sure"}}
%p= link_to "Index", questions_path

%h2 Add an answer 
-if @answer.errors.any?
  %ul
    -@answer.errors.full_messages.each do |m|
      %li
        =m 
= form_for [@question, @answer] do |f|
  = f.text_area :body
  %br
  = f.submit "Sumbit an answer", class:"btn btn-primary"
%hr
=render @answers
-# that one line does all this work!
-#-@answers.each do |answer|
-#  =render "/answers/answer", answer: answer
  
