!!!
%html
  %head
    %title Ishanswers 2
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
  #wrap
    %nav.navbar.navbar-inverse{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
          %a.navbar-brand{:href=> "#"} 
            %strong 
              %bold Ishanswers 2
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to "About", about_us_path, id:"about"
            %li
              = link_to "Faq", faq_path, id:"faq"
            %li
              = link_to "Help", help_path, id:"help"
            %li
              = link_to "New Question", new_question_path, id:"new_question"
            %li
              = link_to "Question Index", questions_path, id:"new_question"
          .navbar-right
            -if user_signed_in?
              %p
              Hello
              = current_user.first_name
              = link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-default"
            -else
              %p
              = link_to "Sign in", new_user_session_path, class: "btn btn-primary"
              
    .container
      / - if flash[:alert] || flash[:notice]
      / %h4
      / = flash[:alert] || flash[:notice]
      = flash_messages #check app_helper for da method 2 da madness
      = yield
    #footer
      .container 
        %p Copyright 2014 Ishanswers 
